[Desktop Entry]
Name=SysClean
Comment=System Cleaner 
Exec=/usr/bin/SysClean %U
Icon=/usr/share/pixmaps/SysClean/ccleaner.png
Terminal=false
Type=Application
Categories=Utility;
